[submodule "dargon2_flutter/dargon2_flutter_mobile/android/Argon2"]
	path = dargon2_flutter/dargon2_flutter_mobile/android/Argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "dargon2_flutter/dargon2_flutter_desktop/windows/native/argon2"]
	path = dargon2_flutter/dargon2_flutter_desktop/windows/native/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "dargon2_flutter/dargon2_flutter_desktop/linux/native/argon2"]
	path = dargon2_flutter/dargon2_flutter_desktop/linux/native/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
